## Ignore Visual Studio temporary files
.vs/

## Ignore build results
bin/
obj/

## Ignore user-specific files
*.user
*.suo

## Ignore logs
*.log

## Ignore environment files
appsettings.Development.json

## Ignore Rider
.idea/

## Ignore node modules (if Angular inside same project)
node_modules/

## Ignore package-lock
package-lock.json